.container {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

input {
  padding: 10px 20px;
  border-radius: 16px;
  outline: none;
  border: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: #ff7f7f;
  color: #fff;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  border-radius: 8px;
  padding: 15px 10px 20px;
  margin: 10px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
